/* src/components/LanguageToggle.css */
.language-toggle {
    display: flex;
    gap: 10px;
    margin: 10px 0;
  }
  
  .language-toggle button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: rgb(250, 193, 6);
    cursor: pointer;
  }
  
  .language-toggle .active {
    background-color: #007bff;
    color: rgb(245, 220, 0);
    border-color: #007bff;
  }
  